tela {
    background-color: #3537a7;
}

book{
    background-color: #c3d657,

}

bookButton2 {
    background-color: #2bb4c9;
    }
bookButton3 {
    background-color: #a33aa0
}
bookButton4 {
    background-color: #f7673f
}
bookButton5 {
    background-color: #bb3742
}

font {
    color: #f1f1f1;
}